<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <p>제작 : 1605732 이도경 2024262 강민규 0000000 고병수 1809855 박한진 2028256 최강희 2031562 전재억</p>
            <p>담당 교수 : SW시스템 설계및 개발 박종규 &nbsp;|&nbsp; pjk5401@dau.ac.kr</p>
            <p>주소: 부산 사하구 낙동대로550번길 37 동아대학교 승학캠퍼스</p>
            <p>&copy; 2024 BUSS, All rights reserved.</p>
        </div>
        <div class="footer-right">
            <img src="/static/donga2.png" alt="Dong-A University Logo" width="250px" height="70px">
        </div>
    </div>
</footer>