<footer class="footer">
    <div class="footer-content">
        <div class="footer-left">
            <a href="/" class="logo"><img width="100px" height="50px" src="../static/logo3.png" alt="BBUS Logo"><span class="buss-text">BBUS</span></a>
        </div>
        <div class="footer-center">
            <div class="footer-center-content">
                <div class="footer-links">
                    <a href="#">회사소개</a>
                    <a href="#">공지사항</a>
                    <a href="#">연락처</a>
                    <a href="#">광고문의</a>
                    <a href="#">채용</a>
                    |
                    <a href="#">버그제보</a>
                    |
                    <a href="#">개인정보 처리방침</a>
                </div>
                <div class="footer-info">
                    <p>상호명: <b style="color:black">동아대학교</b> | 대표명: 고병수</p>
                    <p>사업자등록번호: 588-55-32133 | 통신판매업신고번호: 0000-부산사하구-0000 | 직업정보 제공사업 신고번호: J123123123444213</p>
                    <p>주소: 부산 사하구 낙동대로550번길 37 동아대학교 승학캠퍼스 S06 0609 | 고객센터 : info@buss.kr (영업시간 평일 10:00 ~ 17:00)</p>
                    <p>© 2024 동아대학교, All rights reserved.</p>
                </div>
            </div>
        </div>
        <div class="footer-right">
            <p>SPONSORED BY</p>
            <div class="sponsors">
                <div class="sponsor">
                    <img src="/static/donga2.png" alt="Sponsor 1" class="sponsor-logo">
                </div>
            </div>
        </div>
    </div>
</footer>