<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../static/styles/header.css"> <!-- 헤더 스타일을 포함한 CSS 파일 -->

    <style>

        @font-face {
            font-family: 'PR';
            src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
            font-weight: 400;
            font-style: normal;
        }
        /* Header 및 Navbar 스타일 */
        body {
            font-family: 'PR';
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
            padding-bottom: 50px; /* 추가된 부분 */
        }
        /* Container 스타일 */
        .container {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 40px; /* 패딩 증가 */
            max-width: 800px; /* 최대 너비 증가 */
            margin: 40px auto;
            background-color: #ffffff; /* 배경색 추가 */
            border-radius: 5px; /* 모서리 둥글게 */
            box-shadow: 0 0 10px rgba(0,0,0,0.1); /* 그림자 추가 */
        }
        .form-group {
            margin-bottom: 20px;
        }
        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }
        button[type="submit"] {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        p.mt-3 {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="/" class="logo"><img width="100px" height="50px" src="../static/logo3.png" alt="BUSS Logo">BBUS</a>
        <div class="navbar"></div>
        <div class="user-info"></div>
    </div>
    <div class="container">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="id">아이디</label>
                <input type="text" id="id" name="id" required>
            </div>
            <div class="form-group">
                <label for="pw">비밀번호</label>
                <input type="password" id="pw" name="pw" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="mt-3">계정을 등록하세요. <a href="/register">회원가입</a></p>
    </div>
</body>
</html>
